<div class="container mb-4" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">COURSES</h1>
            <h3 class="jumbotron-heading">Select your course</h3>
        </div>
    </section>

    <div class="row">
        <div class="col-12" th:if="${courses.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <th scope="col">Selection</th>
                        </th:block>
                        <th scope="col">Course name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Teacher</th>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <th scope="col">Choose action</th>
                        </th:block>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{/courses/reversed}" th:method="GET">
                            <tr><input type='submit' value='Shuffle courses' class="shuffle"/></tr>
                        </form>
                    </th:block>

                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{/courses/add-course}" th:method="GET">
                            <tr><input type='submit' value='Add course'/></tr>
                        </form>
                    </th:block>


                    <form th:action="@{/AddStudent}" th:method="GET">
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <tr><input type='submit' value='Select course'/></tr>
                        </th:block>
                        <tr th:each="course : ${courses}" class="product">
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <td><input type="radio" name="courseId" th:value="${course.getCourseId()}"/></td>
                            </th:block>
                            <td th:text="${course.getName()}"></td>
                            <td th:text="${course.getDescription()}"></td>
                            <td th:text="${course.getTeacher() != null}
                                ? ${course.getTeacher().getName()} + ' ' + ${course.getTeacher().getSurname()} : 'No Teacher'"></td>
                            <td class="text-right">
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{'/courses/delete/{id}' (id=${course.getCourseId()})}"
                                       class="btn btn-sm btn-danger delete-product">
                                        <i class="fa fa-trash">Delete</i>

                                    </a>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{'/courses/edit-form/{id}' (id=${course.getCourseId()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                            </td>
                        </tr>

                    </form>
                    </tbody>


                </table>
            </div>
        </div>
    </div>
</div>
</div>


<!--<!DOCTYPE html>-->
<!--<html lang="mk" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->

<!--        <meta charset="UTF-8">-->
<!--        <meta name="description" lang="mk" >-->
<!--        <meta name="description" lang="mk-Latn-t-cyrl" >-->
<!--        <meta http-equiv="Content-Language" content="ru, ru-Latn-t-cyrl"/>-->

<!--    <title>Welcome and Choose a Course</title>-->
<!--    <style>-->
<!--        body {-->
<!--            width: 800px;-->
<!--            margin: auto;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <h1>Courses List</h1>-->
<!--</header>-->

<!--<main>-->
<!--    <h2>Choose course:</h2>-->
<!--    <form th:action="@{/AddStudent}" th:method="GET">-->
<!--        <div th:each="course: ${courses}"><input type="radio" name="courseId" th:value="${course.getCourseId()}" th:text="${course.getName()}"/>(<th:block th:text="${course.getDescription()}"/>)</div>-->
<!--        </br>-->
<!--        <input type='submit' value='Submit'/>-->
<!--    </form>-->


<!--    <form th:action="@{/AddStudent}" th:method="GET">-->
<!--        <input type='submit' value='Add a course'/>-->
<!--    </form>-->

<!--</main>-->
<!--</body>-->
<!--</html>-->


<!--<div lang="en"-->
<!--     xmlns="http://www.w3.org/1999/xhtml"-->
<!--     xmlns:th="http://www.thymeleaf.org" xmlns:sec="">-->

<!--    &lt;!&ndash;<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">&ndash;&gt;-->

<!--    <style>-->
<!--        /*.t {*/-->
<!--        /*    display: flex;*/-->
<!--        /*    margin-left: 50%;*/-->
<!--        /*}*/-->
<!--    </style>-->

<!--    &lt;!&ndash;    <head>&ndash;&gt;-->
<!--    &lt;!&ndash;        <meta charset="UTF-8"/>&ndash;&gt;-->
<!--    &lt;!&ndash;        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"&ndash;&gt;-->
<!--    &lt;!&ndash;              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"&ndash;&gt;-->
<!--    &lt;!&ndash;              crossorigin="anonymous">&ndash;&gt;-->
<!--    &lt;!&ndash;        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"&ndash;&gt;-->
<!--    &lt;!&ndash;                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"&ndash;&gt;-->
<!--    &lt;!&ndash;                crossorigin="anonymous"></script>&ndash;&gt;-->
<!--    &lt;!&ndash;        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"&ndash;&gt;-->
<!--    &lt;!&ndash;                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"&ndash;&gt;-->
<!--    &lt;!&ndash;                crossorigin="anonymous"></script>&ndash;&gt;-->
<!--    &lt;!&ndash;        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"&ndash;&gt;-->
<!--    &lt;!&ndash;                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"&ndash;&gt;-->
<!--    &lt;!&ndash;                crossorigin="anonymous"></script>&ndash;&gt;-->
<!--    &lt;!&ndash;    </head>&ndash;&gt;-->


<!--    <div xmlns:th="http://www.thymeleaf.org">-->
<!--        <section class="jumbotron text-center">-->
<!--            <div class="container">-->
<!--                <h1 class="jumbotron-heading">Welcome and Choose a Course:</h1>-->
<!--                <h3 class="jumbotron-heading">- All courses -</h3>-->
<!--            </div>-->
<!--        </section>-->


<!--        <div class="container mb-4">-->
<!--            <div class="row">-->
<!--                <div class="col-12" th:if="${courses.size() > 0}">-->
<!--                    <div class="table-responsive">-->
<!--                        <table class="table table-striped">-->

<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                                    <th scope="col" Select></th>-->
<!--                                </th:block>-->
<!--                                <th scope="col">Course name</th>-->
<!--                                <th scope="col">Description</th>-->
<!--                                <th scope="col">Teacher</th>-->
<!--                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                                    <th scope="col">Options</th>-->
<!--                                </th:block>-->
<!--                            </tr>-->
<!--                            </thead>-->

<!--                            <tbody>-->
<!--                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                                <form th:action="@{/AddStudent}" th:method="GET">-->
<!--                                    <div class="text-center">-->
<!--                                        <input type='submit' value='Select course'/>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </th:block>-->


<!--                            <tr th:each="course : ${courses}" class="course">-->
<!--                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                                    <td><input type="radio" name="courseId" th:value="${course.getCourseId()}"/></td>-->
<!--                                </th:block>-->
<!--                                <td th:text="${course.getName()}"></td>-->
<!--                                <td th:text="${course.getDescription()}"></td>-->
<!--                                <td th:text="${course.getTeacher() != null}-->
<!--                                ? ${course.getTeacher().getName()} + ' ' + ${course.getTeacher().getSurname()} : 'No Teacher'"></td>-->

<!--                                <td class="text-right">-->
<!--                                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                                        <th:block>-->
<!--                                            <a th:href="@{'/courses/delete/{id}' (id=${course.getCourseId()})}"-->
<!--                                               class="btn btn-sm btn-danger delete-course">-->
<!--                                                &lt;!&ndash;                                           th:method="DELETE">&ndash;&gt;-->
<!--                                                &lt;!&ndash;                                            <button type="submit"&ndash;&gt;-->
<!--                                                <i class="fa fa-trash">Delete</i>-->
<!--                                                &lt;!&ndash;                                            </button>&ndash;&gt;-->
<!--                                            </a>-->
<!--                                        </th:block>-->
<!--                                    </th:block>-->
<!--                                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                                        <th:block>-->
<!--                                            <a th:href="@{'/courses/edit-form/{id}' (id=${course.getCourseId()})}"-->
<!--                                               class="btn btn-sm btn-info edit-product">-->
<!--                                                <i class="fa fa-trash">Edit</i>-->
<!--                                            </a>-->
<!--                                        </th:block>-->
<!--                                    </th:block>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            </form>-->

<!--                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                                <form th:action="@{/courses/add-course}" th:method="GET">-->
<!--                                    <div class="text-center">-->
<!--                                        <input type='submit' value='Add course'/>-->
<!--                                    </div>-->
<!--                                    </br>-->
<!--                                </form>-->
<!--                            </th:block>-->

<!--                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                                <form th:action="@{/courses/coursesReversed}" th:method="GET">-->
<!--                                    <div class="text-center">-->
<!--                                        <input type='submit' value='Shuffle'/>-->
<!--                                    </div>-->
<!--                                    </br>-->
<!--                                </form>-->
<!--                            </th:block>-->

<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8" >-->

<!--&lt;!&ndash;    sto da pisuva na tabot&ndash;&gt;-->
<!--    <title>Welcome and Choose a Course</title>-->
<!--    <style>-->
<!--        body {-->
<!--            width: 800px;-->
<!--            margin: auto;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <h1>Courses List</h1>-->
<!--</header>-->
<!--<main>-->
<!--    <h2>Choose course:</h2>-->
<!--    <form th:action="@{/AddStudent}" th:method="GET">-->
<!--        <div th:each="course: ${courses}"><input type="radio" name="courseId" th:value="${course.getCourseId()}" th:text="${course.getName()}"/>-->
<!--            (<th:block th:text="${course.getDescription()}"/>)</div>-->
<!--        <br>-->
<!--        <input type='submit' value='Submit'/>-->
<!--    </form>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->